<IfModule mod_headers.c>
	# YEAR
    <FilesMatch "\.(ico|gif|jpg|jpeg|png|svg|flv|pdf|mp4)$">
      Header set Cache-Control "max-age=29030400"
    </FilesMatch>
    # WEEK
    <FilesMatch "\.(swf|woff)$">
      Header set Cache-Control "max-age=604800"
    </FilesMatch>
    # 45 MIN
    <FilesMatch "\.(html|htm|txt)$">
      Header set Cache-Control "max-age=2700"
    </FilesMatch>
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^(.*)$ public/$1 [L]
</IfModule>